<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <div>
        <p>Your account is created!</p>
        <h1>Login Here</h1>
        <form action="/dashboard" method="post">
            <label for="UName">Username</label>
        <input type="text" id="uName" name="loginUsername" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="loginPassword" required>
        <button>Sign In</button>
        </form>
    </div>
</body>
</html>